@import "tailwindcss";
.font{
  font-family: "Poppins";
}
/* scrollbar irself */
.tips-wrapper::-webkit-scrollbar{
  width: 5px;  
  height: 5px;  
} 

/* Scrollbar thumb (the draggable part) */
.tips-wrapper::-webkit-scrollbar-thumb {
  background: #012205ca;  
}

body{
  font-family: "Poppins";
}
body::-webkit-scrollbar{
   display:none
}
 
.tips-wrapper::-webkit-scrollbar-track{
  background-color: #ffffff30
}

