@import "tailwindcss";
/* scrollbar irself */
.tips-wrapper::-webkit-scrollbar{
  width: 5px;  
  height: 5px;  
} 

/* Scrollbar thumb (the draggable part) */
.tips-wrapper::-webkit-scrollbar-thumb {
  background: #012205ca;  
}
body{
  font-family: "Open Sans","Poppins", sans-serif;
  min-height: 100vh;
}
body::-webkit-scrollbar{
   display:none
}
 
